In [ ]:
# All the life cycle in a datascience project
# Data Analysis
# Exploratory data analysis
# Feature Engineering
# Feature Selection
# Model Building
# Model Deployment

In [32]:
##Data Analysis Phase
##Main aim is to understand the data
import pandas as pd
import numpy as np
import seaborn as sns
sns.set()
import matplotlib.pyplot as plt
import glob

%matplotlib inline

import os
##Display all the columns of the dataframe
pd.set_option('display.max_columns', None)

In [3]:
from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

In [ ]:
# !unzip mangrove_data.zip

In [4]:
os.chdir("/content/drive/MyDrive/")

In [77]:
df = pd.read_excel("Pizza Sales.xlsx")
df.head()

,order_details_id,order_id,pizza_id,quantity,order_date,order_time,unit_price,total_price,pizza_size,pizza_category,pizza_ingredients,pizza_name
0,1,1,hawaiian_m,1,2015-01-01,11:38:36,13.25,13.25,M,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese",The Hawaiian Pizza
1,2,2,classic_dlx_m,1,2015-01-01,11:57:40,16.00,16.00,M,Classic,"Pepperoni, Mushrooms, Red Onions, Red Peppers,...",The Classic Deluxe Pizza
2,3,2,five_cheese_l,1,2015-01-01,11:57:40,18.50,18.50,L,Veggie,"Mozzarella Cheese, Provolone Cheese, Smoked Go...",The Five Cheese Pizza
3,4,2,ital_supr_l,1,2015-01-01,11:57:40,20.75,20.75,L,Supreme,"Calabrese Salami, Capocollo, Tomatoes, Red Oni...",The Italian Supreme Pizza
4,5,2,mexicana_m,1,2015-01-01,11:57:40,16.00,16.00,M,Veggie,"Tomatoes, Red Peppers, Jalapeno Peppers, Red O...",The Mexicana Pizza

In [9]:
print("shape of df:", df.shape)
print("dataframe columns:", df.columns.to_list())

shape of df: (48620, 12)
dataframe columns: ['order_details_id', 'order_id', 'pizza_id', 'quantity', 'order_date', 'order_time', 'unit_price', 'total_price', 'pizza_size', 'pizza_category', 'pizza_ingredients', 'pizza_name']

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48620 entries, 0 to 48619
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   order_details_id   48620 non-null  int64
 1   order_id           48620 non-null  int64
 2   pizza_id           48620 non-null  object
 3   quantity           48620 non-null  int64
 4   order_date         48620 non-null  datetime64[ns]
 5   order_time         48620 non-null  object
 6   unit_price         48620 non-null  float64
 7   total_price        48620 non-null  float64
 8   pizza_size         48620 non-null  object
 9   pizza_category     48620 non-null  object
 10  pizza_ingredients  48620 non-null  object
 11  pizza_name         48620 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(3), object(6)
memory usage: 4.5+ MB

In [16]:
#additional check for missing values
df.isnull().sum() #no missing values was detected

order_details_id     0
order_id             0
pizza_id             0
quantity             0
order_date           0
order_time           0
unit_price           0
total_price          0
pizza_size           0
pizza_category       0
pizza_ingredients    0
pizza_name           0
dtype: int64

In [24]:
#check for duplicates
duplicates = df.duplicated()
duplicate_rows = df[duplicates]
len(duplicate_rows) #no duplicate rows was detected
# df_no_redundancy = df.drop_duplicates()

0

## Combien de pizzas uniques (pizza_id distincts) y a-t-il dans le jeu dedonnées ?

In [28]:
pizza_unique = df['pizza_id'].unique()
len(pizza_unique) # we have 91 unique pizzas comprising of various sizes, lets dig in and make sure there are no mistyping

91

In [39]:
pizza_unique_vc = df["pizza_id"].value_counts().sort_index()
print(pizza_unique_vc.head())

bbq_ckn_l        967
bbq_ckn_m        926
bbq_ckn_s        479
big_meat_s      1811
brie_carre_s     480
Name: pizza_id, dtype: int64

In [52]:
#no of unique pizza's without sizes
pizza_unique_vc_wid = df["pizza_id"].str.split("_").str[:-1].str.join('_')

In [61]:
pizza_unique_vc_wid.value_counts().sort_index()

bbq_ckn         2372
big_meat        1811
brie_carre       480
calabrese        927
cali_ckn        2302
ckn_alfredo      980
ckn_pesto        961
classic_dlx     2416
five_cheese     1359
four_cheese     1850
green_garden     987
hawaiian        2370
ital_cpcllo     1414
ital_supr       1849
ital_veggie      975
mediterraneo     923
mexicana        1456
napolitana      1451
pep_msh_pep     1342
pepperoni       2369
peppr_salami    1422
prsc_argla      1428
sicilian        1887
soppressata      957
southw_ckn      1885
spicy_ital      1887
spin_pesto       957
spinach_fet     1432
spinach_supr     940
thai_ckn        2315
the_greek       1406
veggie_veg      1510
Name: pizza_id, dtype: int64

In [56]:
len(pizza_unique_vc_wid.unique()) # there are 32 unique pizza without the sizes been taken into consideration

32

##b. Combien de commandes uniques (order_id distincts) figurent dans le jeude données ?

In [79]:
unique_order_ids = df["order_id"].astype('category') #change first to object as it is a unique identifier

In [80]:
print(unique_order_ids.nunique()) # we have 21350 unique order id's in the dataset

21350

In [81]:
# Discover the range of unique values
min_value = min(unique_order_ids)
max_value = max(unique_order_ids)

# Print the range of unique values
print(f"Range of unique values: {min_value} to {max_value}")

Range of unique values: 1 to 21350